<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectTrainingToiecs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectTrainingToiecs.styles.css" asp-append-version="true" />
    <link href="~/css/layoutbase.css" rel="stylesheet" />
    <link href="~/css/layoutgeneral.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
@{
    var role = Context.Session.GetString("Role");
    var userName = Context.Session.GetString("UserName");
}
<script>
    function onDirUser() {
        var url = window.location.protocol + "//" + window.location.host + '/Users/Index1'
        location.href = url;
    }
    function onDirCource() {
        var url = window.location.protocol + "//" + window.location.host + '/Course/Index'
        location.href = url;
    }
    function onDirUnit() {
        var url = window.location.protocol + "//" + window.location.host + '/Unit/Index'
        location.href = url;
    }
    function onDirLesson() {
        var url = window.location.protocol + "//" + window.location.host + '/Lesson/Index'
        location.href = url;
    }
    function onDirDocument() {
        var url = window.location.protocol + "//" + window.location.host + '/Document/Index'
        location.href = url;
    }
    function onDirQS() {
        var url = window.location.protocol + "//" + window.location.host + '/TestDetail/Index'
        location.href = url;
    }
    function onHome() {
        var url = window.location.protocol + "//" + window.location.host + '/Home/Index'
        location.href = url;
    }
    function onListPart() {
        var url = window.location.protocol + "//" + window.location.host + '/Home/ListPart'
        location.href = url;
    }
    function onListTest() {
        var url = window.location.protocol + "//" + window.location.host + '/Home/ListTest'
        location.href = url;
    }
    function signOutAdmin() {
        debugger;
        $.ajax({
            url: "/Users/SignOut",
            type: "GET",
            success: function (result) {
                if (result.result == 1) {
                    var url = window.location.protocol + "//" + window.location.host + '/Users/Login';
                    location.href = url;
                }
            }
        });
    };
</script>
<body>
    <div class="row" style="width : 100%">
        <div class="col-md-12">
             <header>
            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                @if(role == "Admin"){
                        <div style="background-color:#7b00e6; height: 50px;">
                            <table>
                                <tr>
                                    <td style="width: 87%">
                                        <span class="btn" style="color: white" onclick="onDirUser()">Users</span> &emsp;
                                        <span class="btn" style="color: white" onclick="onDirCource()">Courses</span>&emsp;
                                        <span class="btn" style="color: white" onclick="onDirUnit()">Units</span>&emsp;
                                        <span class="btn" style="color: white" onclick="onDirLesson()">Lessons</span>&emsp;
                                        <span class="btn" style="color: white" onclick="onDirDocument()">Documents</span>&emsp;
                                        <span class="btn" style="color: white" onclick="onDirQS()">Quesion</span>
                                    </td>
                                    <td>
                                        <span class="btn" style="color: white">
                                            Welcome  @userName <span class="btn btn-link" onclick="signOutAdmin()"><i class="fa fa-sign-out" title="sign out" aria-hidden="true"></i></span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                    </div>
                }else{
                        <div class="site-mobile-menu-body" style="margin-top: 40px;width: 100px;">
                            <ul class="site-nav-wrap">
                                <li class="active"><a href="#" onclick="onHome()" class="nav-link" style="font-size: 30px;"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                                <li><a href="#"  class="nav-link" style="font-size: 30px; margin-top: 20px"><i class="fa fa-users" aria-hidden="true"></i></a></li>
                                <li><a href="#" onclick="onListPart()" class="nav-link" style="font-size: 30px;margin-top: 20px"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                <li><a href="#" onclick="onListTest()" class="nav-link" style="font-size: 30px;margin-top: 20px"><i class="fa fa-book" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                }
                
            </div>
        </header>
        </div>
        <div class="col-md-12">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted" style="position: fixed">
        <div class="container">
            &copy; 2023 - ProjectTrainingToiecs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"  />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
