@{
    ViewData["Title"] = "Home Page";
}
<div class = "row">
    <h2 class="text-center" style="position: absolute;right: 10px;top: 0;">
    Welcome  @ViewBag.userName <span class="btn btn-link" id="sign-out"><i class="fa fa-sign-out"  title="sign out" aria-hidden="true"></i></span>
    </h2>
    <p class="text-center" style="font-size: 30px; margin-top: 200px;">
        Module 2: Intermediate<br/>
        Unit 2: Entertainment Museum Announcement<br />
        <button class="btn btn-sucsess">Continue</button>
    </p>
</div>
<script src="~/js/home/homecontroller.js"></script>