@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    function onDirPart1() {
        var url = window.location.protocol + "//" + window.location.host + '/Part/Part1?id=0';
        location.href = url;
    }
    function onDirPart2() {
        var url = window.location.protocol + "//" + window.location.host + '/Part/Part2?id=0';
        location.href = url;
    }
</script>
<style type="text/css">
    .div-part{
        height: 100px;
        font-size: 30px;
        text-align: center;
        background-color: lightgrey;
        border: solid 1px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .div-part label{
        margin-top: 30px;
    }
    </style>
<div class="row" style="margin-top : 200px">
    <div class="col-md-12" style="font-size: 30px">List Course</div>
    <div class="col-md-3 div-part"><label onclick="onDirPart1()">Part 1</label></div>
    <div class="col-md-3 div-part"><label onclick="onDirPart2()">Part 2</label></div>
    <div class="col-md-3 div-part"><label>Part 3</label></div>
    <div class="col-md-3 div-part"><label>Part 4</label></div>
    <div class="col-md-3 div-part"><label>Part 5</label></div>
    <div class="col-md-3 div-part"><label>Part 6</label></div>
    <div class="col-md-3 div-part"><label>Part 7</label></div>
</div>