@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<script>
    $(document).ready(function () {
        getDataUnit();
    });
    $(function () {
        $('#update-unit').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            debugger;
            var name = $('#model-name').val();
            var description = $('#model-description').val();
            var count = $('#model-quesion').val();
            var id = $('#model-id').val();
            var courseId = $('#id-course').val();
            if (!name  || !description || !count) {
                alert('Trường gán dấu * là bắt buộc');
                return;
            }
            var data = { Id: id, Name: name, Description: description, Count: count, CourseId : courseId };
            $.ajax({
                url: "/Unit/UpdateUnit",
                type: "POST",
                data: data,
                success: function (result) {
                    if (result.data) {
                        $("#infor-unit").modal('hide');
                        getDataUnit();
                    } else {
                    }
                }
            });
        });
    });
    function getInfoUnit(id) {
        var div = document.getElementById('lable-unit');
        div.innerHTML = "Edit Unit";
        $.ajax({
            url: "/Unit/GetInfoUnit",
            type: "Post",
            data: { id: id },
            success: function (result) {
                if (result.data) {
                    debugger;
                    $('#model-name').val(result.data.name);
                    $('#model-description').val(result.data.description);
                    $('#model-quesion').val(result.data.count);
                    $('#model-last').val(result.data.lastUpdateTxt);
                    $('#model-id').val(result.data.id);
                    $("#infor-unit").modal('show');
                }
            }
        });
    }
    function addUnit() {
        $('#model-name').val('');
        $('#model-description').val('');
        $('#model-last').val('');
        $('#model-id').val(0);
        $('#model-quesion').val('');
        var div = document.getElementById('lable-unit');
        div.innerHTML = "Add Unit";
        $('#infor-unit').modal('show');
    }
    function deleteUnit(id) {
        if (confirm("Bạn có chắc muốn xóa unit lớn này!") == true) {
            $.ajax({
                url: "/Unit/DeleteUnit",
                type: "Post",
                data: { id: id },
                success: function (result) {
                    if (result.data) {
                        getDataUnit();
                    }
                }
            });
        }
    }
    function getDataUnit() {
        debugger;
        var search = $('#search-key').val();
        var pageSize = $('#pading-list').val();
        var courseId = $('#id-course').val();
        $.ajax({
            url: "/Unit/GetUnits",
            type: "Post",
            data: { PageSize: pageSize, TextSearch: search, CourseId: courseId },
            success: function (result) {
                if (result.data) {
                    var div = document.getElementById('table-unit');
                    var html = '';
                    for (var i = 0; i < result.data.length; i++) {
                        var item = result.data[i];
                        html += '<tr><td> ' + item.order + '</td>' +
                            '<td> <a href= "#" onclick="onDocument('+item.id+')">' + item.name + '</a></td>' +
                            '<td> ' + item.description + '</td>' +
                            '<td> ' + item.count + '</td>' +
                            '<td> ' + item.lastUpdateTxt + '</td>' +
                            '<td>' +
                            '<span class="btn btn-link" onclick = "getInfoUnit(' + item.id + ')" title = "Edit info"> <i class="fa fa-pencil" aria-hidden="true"> </i></span>' +
                            '<span class="btn text-danger" onclick="deleteUnit(' + item.id + ')"> <i class="fa fa-trash" aria-hidden="true"> </i></span>' +
                            '</td></tr>';
                    }
                    div.innerHTML = html;
                }
            }
        });
    }
    function refeshData() {
        $('#search-key').val('');
        $('#pading-list').val(10);
        getDataUnit();
    }
    function onDocument(id) {
        var url = window.location.protocol + "//" + window.location.host + '/Document/Index?idUnit=' + id;
        location.href = url;
    }
</script>
<div>
    <div class="row" style="margin-top: 10px;">
        <div clclass="col-md-12">
            <input id="id-course" value="@ViewBag.courseId" class="hidden" />
            <p>@Html.Raw(ViewBag.link)</p>
        </div>
        <div class="col-md-12" style="margin-top:15px;">
            <img src="~/home/bg_unit.png" width="100%" height="250px" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6"><span style="font-size: 20px; font-weight: 600">@ViewBag.nameCourse <i class="fa fa-pencil" aria-hidden="true"></i></span></div>
        <div class="col-md-6" style="float:right">
            <div class="input-group mb-3" style="display: flex;">
                <input style="width : 53%" type="text" id="search-key" class="form-control" placeholder="search unit" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-default btn-outline-secondary" type="button" id="button-addon2" onclick="getDataUnit()"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="btn btn-primary" onclick="addUnit()">Add Unit </button> &emsp;
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 10px;">
        <div>
            <table>
                <tr>
                    <td><b>Page</b></td>
                    <td>
                        <select class="form-control" id="pading-list" onchange="getDataUnit()">
                            <option selected value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="-1">ALL</option>
                        </select>
                    </td>
                    <td>
                        <span class="btn" onclick="refeshData()"><i class="fa fa-refresh" aria-hidden="true"></i></span>
                    </td>
                </tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Unit</th>
                    <th width="50%">Description</th>
                    <th>Quesion</th>
                    <th>Last Update</th>
                    <th>Action</th>
                </tr>
                <tbody id="table-unit">
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="infor-unit" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lable-unit"></h4>
            </div>
            <div>
                <img src="~/home/bgupdtecourse.png" width="430px" />
            </div>
            <div class="modal-body">
                <input class="form-control hidden" type="text" id="model-id">
                <label>Name</label><span class="text-danger">(*)</span>
                <input class="form-control" type="text" id="model-name">
                <label>Description</label><span class="text-danger">(*)</span>
                <input class="form-control" id="model-description" type="text" />
                <label>Quesion</label><span class="text-danger">(*)</span>
                <input class="form-control" id="model-quesion" type="text" />
                <label>Last Update</label>
                <input class="form-control" readonly id="model-last" type="text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="update-unit">Save change</button>
            </div>
        </div>

    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
